{% extends 'base.html' %}
{% block content %}

<div class="container text-center text-decoration-underline">
    <h1>About page</h1>
</div>
<div class="container p-5 fs-5">
    <P>This is a Dango Based Restaurent Menu App designed by Joywin Gonsalves. This app
        gives you the Menu and all the details, extended features include ordering by delivery
        or pick up. The app's structure is based on python with JQuery for passing the data,
        along with Ajax for non-reloading data refresh, for design i have used bootstrap with html
        and java for animation.
        .
    </P>
</div>


{% endblock %}